[
 % Configure Lager to save logs to the writable /tmp and to limit the
 % size of the logs. Normally Lager would save to /srv/erlang (in our case),
 % but that on a read-only partition if we were to make a production build.
 {lager, [
  {crash_log, "/tmp/crash.log"},
  {handlers, [
    {lager_console_backend, critical},
    {lager_file_backend, [{file, "/tmp/nerves.log"}, {level, info}, {size, 65536}, {count, 5}]}
  ]}
]}].
